ESP32-CAM_Schematic.png
ESP32-CAM_Product_Specification.pdf
esp32_datasheet_en.pdf
esp32-cam-pin-notes.docx
MiniProject_Brief.docx
Cloud_Project_Proposal.docx
Architecture_Diagram.png
SecuriCAP/secret.h
OV2640/


# for securicap-expo
securicap-expo/node_modules/**/*
securicap-expo/.expo/*
securicap-expo/npm-debug.*
securicap-expo/*.jks
securicap-expo/*.p8
securicap-expo/*.p12
securicap-expo/*.key
securicap-expo/*.mobileprovision
securicap-expo/*.orig.*
securicap-expo/web-build/

# macOS
securicap-expo/.DS_Store
