ESP32-CAM_Schematic.png
ESP32-CAM_Product_Specification.pdf
esp32_datasheet_en.pdf
esp32-cam-pin-notes.docx
MiniProject_Brief.docx
Cloud_Project_Proposal.docx
Architecture_Diagram.png
SecuriCAP/secret.h
OV2640/


# for securicap-expo
node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
